<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Home</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    
<div id="video_wrapper">
    <video autoplay loop>
        <source src="https://drive.google.com/uc?export=view&id=1NAyWoJIA8d3SunU8iH2m_9tz2qsHNL3Y" type="video/mp4">
    </video>
</div>

<table style="width:17%; margin-top: 5%; margin-left: 65%;">
    <tr>
        <th><h4 style="text-align: center">News</h4></th>
    </tr>
    <tr>
        <th></th>
    </tr>
</table>


</th:block>
</body>

</html>